<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.ZgGoodsMapper">
  <resultMap id="BaseResultMap" type="com.cn.pojo.ZgGoods">
    <id column="goodCode" jdbcType="VARCHAR" property="goodcode" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    goodCode, goodName, `count`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods (goodCode, goodName, `count`
      )
    values (#{goodcode,jdbcType=VARCHAR}, #{goodname,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        goodCode,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        #{goodcode,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    <set>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    set goodName = #{goodname,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER}
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cn.pojo.ZgGoods">
    <id column="goodCode" jdbcType="VARCHAR" property="goodcode" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    goodCode, goodName, `count`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods (goodCode, goodName, `count`
      )
    values (#{goodcode,jdbcType=VARCHAR}, #{goodname,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        goodCode,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        #{goodcode,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    <set>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    set goodName = #{goodname,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER}
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cn.pojo.ZgGoods">
    <id column="goodCode" jdbcType="VARCHAR" property="goodcode" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    goodCode, goodName, `count`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods (goodCode, goodName, `count`
      )
    values (#{goodcode,jdbcType=VARCHAR}, #{goodname,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        goodCode,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        #{goodcode,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    <set>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    set goodName = #{goodname,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER}
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.cn.pojo.ZgGoods">
    <id column="goodCode" jdbcType="VARCHAR" property="goodcode" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    goodCode, goodName, `count`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zg_goods
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods (goodCode, goodName, `count`
      )
    values (#{goodcode,jdbcType=VARCHAR}, #{goodname,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.pojo.ZgGoods">
    insert into zg_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        goodCode,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodcode != null">
        #{goodcode,jdbcType=VARCHAR},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    <set>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.pojo.ZgGoods">
    update zg_goods
    set goodName = #{goodname,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER}
    where goodCode = #{goodcode,jdbcType=VARCHAR}
  </update>
</mapper>